/* Стилизация кнопки */

.button {
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 15px 65px;
    font-weight: 500;
    line-height: 18.75px;
}

.button:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.button_primary {
    background: var(--blue);
    color: var(--white);

}

.button_primary:hover {
    background: var(--blue-1);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out
}


.button_secondary {
    background: var(--purple);
    color: var(--white);

}

.button_secondary:hover {
    background: var(--purple-1);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out
}

.button_alternate {
    background-color: var(--white);
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}